.btn {
    cursor: pointer;
    @include font(700, 16px, 1.88);
    letter-spacing: 0.06em;
    color: var(--hero-color);
    background-color: var(--accent-bg-color);
    border: 0;
    border-radius: 4px;
    transition: background-color var(--tr-dtf);
    &:hover,
    &:focus {
        background-color: var(--hero-btn-bg-color);
    }
}