.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 450ms linear, visibility 450ms linear;
}

.modal {
    position: absolute;
    width: 100vw;
    height: auto;
    @include mobile {
        width: 450px;
        height: 609px;
    }
    padding: 40px;
    background-color: var(--main-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 350ms linear;
    @include desktop {
        width: 528px;
        height: 581px;
    }
}

.backdrop.is-hidden .modal {
    transform: translateX(-260px) rotate(200deg) scale(0.01);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.close-btn {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--main-bg-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: fill var(--tr-dtf);
}

.close-btn:hover .modal-close {
    fill: var(--accent-color);
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    @include font(400, 12px, 1.17);
    letter-spacing: 0.01em;
    color: var(--main-text-color);
    @include mobile {
        width: 370px;
    }
    @include desktop {
        width: 448px;
    }
}

.form-title {
    @include font(700, 20px, 1.5);
    text-align: center;
    margin-bottom: 12px;
    @include desktop {
        @include font(700, 20px, 1.15);
    }
}

.modal-btn {
    margin: 0 auto;
    display: block;
    width: 200px;
    padding: 10px 52px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    @include desktop {
            left: 165px;;
        }
}

.input-wrapper {
    position: relative;
}

.input-label {
    display: block;
    margin-bottom: 4px;
}

.modal-input {
    padding: 12px 12px 12px 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    &:focus {
        border-color: var(--accent-bg-color);
    }
    &:not(:focus):not(:placeholder-shown):valid {
        background-color: rgba(131, 181, 137, 0.276);
    }
    &:not(:focus):not(:placeholder-shown):invalid {
        background-color: rgba(243, 152, 151, 0.276);
    }
}

.modal-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    .modal-input:focus + & {
        fill: var(--accent-bg-color);
    }
}

.modal-comment {
    width: 100%;
    height: 120px;
    padding: 10px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    resize: none;
    margin-bottom: 10px;
    &::placeholder {
        @include font(400, 14px, 1.1);
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
        @include desktop {
            @include font(400, 12px, 1.17);
        }
    }
    &:focus {
        border-color: var(--accent-bg-color);
    }
}

.agreement-text {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
    @include font(400, 12px, 1.17);
    @include desktop {
        @include font(400, 14px, 1.71);
        margin-bottom: 20px;
    }
}

.modal-checkbox {
    @include desktop {
    padding-left: 12px;
    }
}

.modal-check {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-color);
    margin-right: 8px;
    border-radius: 2px;
    fill: transparent;
    .agreement:checked + .agreement-text & {
        fill: var(--hero-color);
        background-color: var(--accent-bg-color);
        border-color: transparent;
    }
}

.agreement-link {
    position: relative;
    color: var(--accent-color);
    margin-left: 4px;
    &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        @include desktop {
            bottom: 5px;
        }
        left: 0;
        width: 100%;
        height: 0.7px;
        background-color: var(--accent-color);
    }
}

